<div class="row" id="app">
  <div class="col-md-3 sidebar">
    <%= render :partial => 'namespace/sidebar'%>
  </div>
  <div class="col-md-9">
    <div class="container">
    <br>
      <div class="row justify-content-start">
        <div class="col-md-10">
          <div class="row">
            <h4 class="col-md-5 row">
              Version : &nbsp;
              <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= @version%>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% for i in @versions["versions"]%>
                    <a class="dropdown-item" href="/<%=@organization%>/<%=@servicename%>/<%=@namespace%>/<%=i%>"><%=i%></a>
                  <%end%>
                </div>
              </div>
            </h4>
            <% if @role != "Auditor" %>
              <div class="col-md-4  text-right">
                <a href="/<%=@organization%>/<%=@servicename%>/<%= @namespace%>/<%= @version%>/edit"
                class="btn btn-success">
                  Edit
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
      <div class="col-md-6">
        <table class="table table-hover text-center">
        <thead>
          <th class="text-center">Key</th>
          <th class="text-center">Value</th>
        </thead>
        <tbody>
          <% for i in 0..@configkeys.length %>
          <tr>
            <td><%= @configkeys[i]%></td>
            <td><%= @configvalues[i]%></td>
          </tr>
          <% end %>
        </tbody>
        </table>
      </div>
      </div>
      <div id="compare" class="justify-content-center row">
        <a href="/<%=@organization%>/<%=@servicename%>/<%= @namespace%>/<%= @version%>/compare" class="btn btn-success">
          Compare The Diff with Parent&Previous
        </a>
      </div>
    </div>
  </div>
</div>