<div class="container-fluid" id="sidebar" v-app="sidebar">
  <h4 class="text-center d-flex justify-content-center align-items-center"><a class="back-button" href="/<%= params['organization'] %>/services"><i class=" fa fa-arrow-left"></i></a> Services</h4>
    <div class="list-group">
      <% if @services.length > 0 %>
        <% @services.each do |serv|%>
            <a class="list-group-item list-group-item-action waves-effect <%=params["service"]==serv["name"] ? "active" : "" %> d-flex justify-content-between align-items-center" onclick=redirect("/<%= params["organization"] %>/<%=serv["name"]%>/namespaces/")>
              <%= serv["name"]%>
            </a>
        <% end %>
      <% else %>
        <%= render :partial => 'shared/nodata' %>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <a href="<%= "/#{params["organization"]}/services/new" %>">
        <button class="btn btn-success btn-sm"> <i class="fa fa-plus-circle"></i> New</button>
      </a>
    </div>
</div>