<div class="container-fluid" id="sidebar" v-app="sidebar">
    <h4 class="text-center">Organizations</h4>
    <ul class="list-group">
      <% if @organizations %>
        <% @organizations.each do |org|%>
            <li class="list-group-item <%=params["organization"]==org["name"] ? "active" : "" %> cursor-pointer d-flex justify-content-between align-items-center" onclick=redirect("/<%=org["name"]%>/services/")>
              <%= org["name"]%>
              <% case org["role"] %>
                <% when "Admin" %>
                  <i class=" flaticon-head"></i>
                <% when "Developer" %>
                  <i class="flaticon-settings-gears"></i>
                <% when "Auditor" %>
                  <i class="flaticon-settings-gears"></i>
              <% end %>
            </li>
        <% end %>
      <% else %>
        <div class="d-flex flex-column color-disabled justify-content-center align-items-center">
          <img src="<%=image_url ('reuni-logo.png')%>" height="100">
          No Data
        </div>
      <% end %>
    </ul>
    <div class="row justify-content-center">
      <a href="<%= organization_create_url %>">
        <button class="btn btn-success btn-sm"> <i class="fa fa-plus-circle"></i> New</button>
      </a>
    </div>
</div>