<div class="container-fluid" id="sidebar" v-app="sidebar">
    <h4 class="text-center">Organizations</h4>
    <div class="list-group">
      <% if @organizations.length > 0 %>
        <% @organizations.each do |org|%>
            <a class="list-group-item list-group-item-action waves-effect <%=params["organization"]==org["name"] ? "active" : "" %> d-flex justify-content-between align-items-center" onclick=redirect("/<%=org["name"]%>")>
              <%= org["name"]%>
              <% case org["role"] %>
                <% when "Admin" %>
                  <i class=" flaticon-head"></i>
                <% when "Developer" %>
                  <i class="flaticon-settings-gears"></i>
                <% when "Auditor" %>
                  <i class="flaticon-settings-gears"></i>
              <% end %>
            </a>
        <% end %>
      <% else %>
        <%= render :partial => 'shared/nodata' %>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <a href="<%= organization_create_url %>">
        <button class="btn btn-success btn-sm"> <i class="fa fa-plus-circle"></i> New</button>
      </a>
    </div>
</div>