<!DOCTYPE html>
<html>
  <head>
  <title>ReuniUi</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
  <% if cookies[:token]%>
  <nav class="navbar navbar-default navbar-expand-sm" style="background-color: #008000">
    <div class="container-fluid" style="background-color:#008000">
      <a class="navbar-brand" style="color: #ffffff;" href="#">Re-Uni</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/service" class="nav-link" style="color: #ffffff;" onMouseOver="this.style.color='#000000'"
          onMouseOut="this.style.color='#ffffff'">
          Service
          </a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link" style="color: #ffffff;" onMouseOver="this.style.color='#000000'"
          onMouseOut="this.style.color='#ffffff'">
          Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <% end %>
  <%= yield %>
  </body>
</html>
